* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    border-bottom: 1px solid white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav .ui{
    display: flex;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.nav-links  a:hover {
    color: green;
}

.btn {
    text-decoration: none;
    background: green;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 14px;
}

.btn:hover {
    background: green;
}
