* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    border-bottom: 1px solid white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav .ui{
    display: flex;
}
.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.nav-links  a:hover {
    color: green;
}

.btn {
    text-decoration: none;
    background: green;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 14px;
}

.btn:hover {
    background: green;
}

.banner {
  position: relative;
  min-height: 100vh;
  background: url("hero-bg.png")
              center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.banner-content {
  position: relative;
  max-width: 900px;
  padding: 20px;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: white;
  color: green;
  padding: 8px 14px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 25px;
}

.badge .dot {
  width: 8px;
  height: 8px;
  background: green;
  border-radius: 50%;
}


.banner-content h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.banner-content h1 span {
  color: green;
}


.banner-content p {
  font-size: 18px;
  color: ghostwhite;
  line-height: 1.6;
  margin-bottom: 35px;
}


.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  padding: 14px 26px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.btn.primary {
  background: green;
  color: white;
}

.btn.primary:hover {
  background: green;
}

.btn.outline {
  border: 2px solid white;
  color: white;
  background: transparent;
}

.btn.outline:hover {
  background: white;
  color: black;
}


@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content p {
    font-size: 16px;
  }
}